# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build_env/
.venv/

# Build
build/
dist/
*.exe
*.app
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
